$width-one-third: 100% / 3;
$width-test: ($width-one-third * 2) / 3;

li {
  list-style: none;
  list-style-type: none;
}

.App {
  display: flex;
  height: 100vh;
  background-color: #4a4a4a;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.color-red {
  color: red;
}

.bgc-white {
  background-color: white;
}

.bgc-aquamarine {
  background-color: aquamarine;
}

.padding-10px {
  padding: 10px;
}

.gap-10px {
  gap: 10px;
}

.one2 {
  width: $width-one-third * 2;
}

.one1,
.two1 {
  width: $width-one-third;
}

.two2 {
  width: $width-test * 2;
}
.two3 {
  width: $width-test;
}
